<section class="dashboard">
    <div class="container">
        <div class="stats">
            <div class="stat">
                <span class="stat__number" id="stat-raised"></span>
                <span class="stat__label">Total contributed</span>
            </div>
            <div class="stat">
                <span class="stat__number" id="stat-pizzas"></span>
                <span class="stat__label">Pizzas ordered</span>
            </div>
            <div class="stat">
                <span class="stat__number" id="stat-remaining"></span>
                <span class="stat__label">Remaining dough</span>
            </div>
        </div>
        <span class="stat__info" id="stat-info">As of</span>
    </div>
</section>
