<section id="donate" class="donate">
    <div class="container">
        <h2>Donate to the 🍕 fund</h2>
        <p>Waiting in line sucks. Waiting in line with pizza sucks a little less.</p>
        <p>Help ensure that America's voters who are stuck in line don't have to wait with an empty stomach by
            chipping into the pizza fund today.</p>
        <form id="donate-form">
            <fieldset>
                <legend>How many pizzas do you wanna give?</legend>
                <ul>
                    <li>
                        <input type="radio" value="10" id="radio-1" name="amount">
                        <label class="radio" for="radio-1">1 pizza ($10) 🍕</label>
                    </li>
                    <li>
                        <input type="radio" value="20" id="radio-2" name="amount">
                        <label class="radio" for="radio-2">2 pizzas ($20) 🍕🍕</label>
                    </li>
                    <li>
                        <input type="radio" value="40" id="radio-3" name="amount">
                        <label class="radio" for="radio-3">4 pizzas ($40) 🍕🍕🍕🍕</label>
                    </li>
                    <li>
                        <input type="radio" value="100" id="radio-4" name="amount">
                        <label class="radio" for="radio-4">10 pizzas ($100) 🍕🍕🍕🍕🍕🍕🍕🍕🍕🍕</label>
                    </li>
                </ul>
            </fieldset>
            <div class="radio">
                <label for="custom-amount">Other:</label> $
                <input type="text" name="amount" id="custom-amount">
            </div>
            <button class="submit is-disabled" id="checkout">Checkout</button>
            <div id="payment-request-button"></div>
        </form>
        <div id="donate-confirmation" hidden>
            <h3>Thanks for helping make the pizza magic happen!</h3>
            <p id="donate-confirmation-message"></p>
            <p>Why not spread the word?</p>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I just donated to @pizzatothepolls! You can give today at"
                data-url="https://polls.pizza" data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        </div>
    </div>
</section>
