<footer>
  <div class="container">
    <ul class="utility-nav">
      <li><a href="/press">Press</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="mailto:morequestions@polls.pizza">Contact</a></li>
    </ul>
    <!-- Begin Mailchimp Signup Form -->
    <style type="text/css">
      #mc_embed_signup {
        clear: left;
        width: 100%;
        max-width: 600px;
        margin: 0 auto 40px auto;
      }
    </style>
    <div id="mc_embed_signup" class="clearfix">
      <form
        action="https://pizza.us14.list-manage.com/subscribe/post?u=ff4b828d01c30e7ef1de2e24b&amp;id=a2d940b77b"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL"
            >Sign up for updates from Pizza to the Polls</label
          >
          <input
            type="email"
            value=""
            name="EMAIL"
            class="email"
            id="mce-EMAIL"
            placeholder="email address"
            required
          />
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button"
          />
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              type="text"
              name="b_ff4b828d01c30e7ef1de2e24b_a2d940b77b"
              tabindex="-1"
              value=""
            />
          </div>
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
    <div class="clearfix">
      <a href="mailto:morequestions@polls.pizza">morequestions@polls.pizza</a> |
      <a href="https://twitter.com/PizzaToThePolls">@PizzaToThePolls</a> |
      <a href="https://facebook.com/PizzaToThePolls">On Facebook</a> |
      <a href="https://instagram.com/PizzaToThePolls">On Instagram</a>
    </div>
  </div>
</footer>
