<section class="dashboard launching">
    <div class="container">
        <div class="stats">
            <h2>
                Launching for 2020 🚀
            </h2>
            <p>
                We're really excited to announce two new programs to help America vote
            </p>
            <div class="programs">
                <a href="http://powerthepolls.org/">
                    <div>
                        ⚡️ <span>Power the Polls</span>
                        <p>Help us recruit the next generation of poll workers</p>
                    </div>
                </a>
                <a href="/democracy-delivered">
                    <div>
                        📬 <span>Democracy Delivered</span>
                        <p>
                            Making voting by mail as easy as ordering pizza
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
