<section class="dashboard">
    <div class="container">
        <div class="stats" >
            <h2 class="display">COVID-19 Upate</h2>
            <div style="text-align: left">
                <p>
                    With a heavy heart we've decided to suspend pizza deliveries
                    to polling sites until further notice.
                </p>
                <p>
                    The risk of spreading infections with shared pizzas at crowded
                    polling places and to delivery professionals is just too high.
                </p>
                <p>
                    We're urging folks to contact their representatives and election
                    officials and ask for delaying in-person voting and expanding
                    vote by mail (ask members of Congress to support the
                    <em>Resilient Elections During Quarantines and Natural
                    Disasters Act</em>).
                </p>
                <p>
                    We're also thinking about how to use our resources to help and
                    support professionals responding to the crises and at risk
                    folks - suggestions are welcome at <a href="mailto:ideas@polls.pizza">ideas@polls.pizza</a>.
                </p>
                <p>
                    Stay safe,
                    <br/>
                    - Pizza to the Polls 🇺🇸 🗳 ❤️ 🍕
                </p>
            </div>
        </div>
    </div>
    <div class="dashboard-bg"></div>
</section>
