<section class="dashboard">
    <div class="container">
        <div class="stats">
            <h2 class="display">2020!</h2>
            <p>
                Here we go again!
                <br>
                <br>
                Want to share a slice of the magic?
            </p>
            <h3>
                <a href="/partner">Partner</a>
                |
                <a href="/volunteer">Volunteer</a>
            </h3>
            <span class="stat__info">
                <a href="about">See what we did in 2018 & 2016</a>
            </span>
        </div>
    </div>
    <div class="dashboard-bg"></div>
</section>
