$yellow: #d68522;
$red: #db5653;
$blue: #35a8ae;
$gray1: #333;
$gray2: #efeeee;
$white: #fff;
$blue2: #3d74c8;
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: $red;
}

h1 {
  text-align: center;
  color: $blue;
  margin: 20px 0;
}

h1,
h2 {
  font-weight: 800;
}

form {
  border-radius: 4px;
  padding: 0;
}

p {
  line-height: 1.5;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.help {
  font-size: 0.8em;
  font-style: italic;
  display: block;
}

section {
  padding: 20px 0;
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.report {
  background: $gray2;
  color: $gray1;
  padding-bottom: 40px;
}

.report h2 {
  border-bottom: 4px solid $gray1;
  padding-bottom: 8px;
}

.donate {
  background: $red;
  color: #fff;
}

.donate h2 {
  border-bottom: 4px solid $white;
  padding-bottom: 8px;
}

.donate a {
  color: #fff;
}

.about h2 {
  color: #333;
  border-bottom: 4px solid #333;
  padding-bottom: 8px;
}

footer {
  background: $blue;
  border-top: 5px solid $blue;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #fff;
}

@media (min-width: 769px) {
  h1 {
    font-size: 3em;
  }

  p,
  li {
    font-size: 1.2em;
  }
}

#payment-request-button {
  margin-top: 18px;
}
