.dashboard {
  background-color: $blue2;
  color: #fff;
  text-align: center;
  padding-bottom: 40px;

  h2 {
    position: relative;
    top: 15px;
    display: inline;
    background: $blue2;
    padding: 0 20px;
  }
}

.stats {
  border: 1px solid $white;
  padding: 30px;
}

.stats__row {
  padding-bottom: 10px;
  display: flex;
}

.stat__info {
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);

  a {
    color: $white;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block;
  }
}

.stat {
  text-align: center;
  padding: 10px;
  margin-right: 2px;
}

.stat:last-of-type {
  border-bottom: none;
}

.stat__number {
  font-weight: 800;
  font-size: 2.5em;
}

.stat__label {
  display: block;
}

@media (min-width: 600px) {
  .stats {
    display: table;
    width: 100%;
  }

  .stat {
    display: table-cell;
    width: 33%;
    text-align: center;
    padding: 20px;
    border-bottom: none;
    margin-right: 2px;
  }
  .stat:last-of-type {
    border-right: none;
  }
  .stat__info {
    text-align: right;
  }
}
