/* Form */
.form-item {
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-top: none;
}
.form-item:first-of-type {
  border-top: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
}
.form-item:last-of-type {
  border-bottom: none;
}
label {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}
legend {
  font-weight: bold;
  font-size: 1.2em;
}
input,
textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin-bottom: 0.5em;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}
input[type="submit"],
.submit {
  transition: background-color 0.1s ease-in;
  display: block;
  background: #3dc1c8;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px;
  border-radius: 0 0 4px 4px;
}
input[type="submit"]:hover,
.submit:hover {
  background: #35a8ae;
}

#donate-form {
  padding: 20px 0;
}
fieldset {
  border: none;
  padding: 0;
}
fieldset ul {
  padding: 0;
  list-style-type: none;
}
fieldset li {
  margin: 0;
}
input[type="radio"] {
  position: absolute !important;
  top: auto;
  left: -9999px !important;
}
.radio {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  margin-bottom: 10px;
}
.radio:hover {
  background: rgba(255, 255, 255, 0.2);
}
.radio input {
  display: inline-block;
  width: 60px;
  background: none;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0;
}
.radio label {
  display: inline-block;
  margin: 0 10px 0 0;
}
input[type="radio"]:checked + label,
input[type="radio"]:focus + label {
  background-color: #fff;
  color: #db5653;
}
.submit {
  transition: opacity 0.2s ease-in;
  border-radius: 4px;
}
.is-disabled {
  opacity: 0;
  cursor: default;
}
