.header {
  border-top: 10px solid $red;
  position: sticky;
  width: 100%;
  background-color: $white;
  // background-image: url("/images/bg3.png");
  background-size: 200px;
  top: 0;
  z-index: 1000;
  padding: 20px 0;

  h1 {
    margin: 0;
    font-size: 36px;
    vertical-align: middle;

    a {
      color: $blue;
    }

    @media (min-width: 769px) {
      font-size: 48px;
    }
  }

  img {
    width: 50px;
    vertical-align: middle;
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 30px 0 10px 0;
  width: 100%;
  font-weight: bold;
  z-index: 1000;
  text-align: center;

  li {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
  }

  a {
    text-decoration: none;
    background: $red;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    width: 180px;
    display: block;

    &:hover {
      background: #c10228;
    }
  }
}

@media (min-width: 600px) {
  .header {
    border-bottom: none;
    position: relative;

    img {
      width: 100px;
    }
  }

  .menu {
    position: relative;
    top: 0;
    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      padding: 20px 30px 0 30px;
    }
  }
}
