.header {
  position: fixed;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background: #f0a241;
  position: absolute;
  top: 76px;
  width: 100%;
  font-weight: bold;

  &[aria-hidden="true"] {
    display: none;
  }

  li {
    padding-bottom: 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.menu-toggle {
  float: left;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .menu {
    position: relative;
    top: 0;
    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      // border-right: 1px solid $white;
      padding: 20px 30px;

      &:first-of-type {
        // border-left: 1px solid $white;
      }
    }
  }
}
