.header {
  position: fixed;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background: #f0a241;
  position: absolute;
  top: 76px;
  width: 100%;

  &[aria-hidden="true"] {
    display: none;
  }

  li {
    padding-bottom: 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.menu-toggle {
  float: left;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

@media (min-width: 769px) {
}
