* {
  box-sizing: border-box;
}

body {
  border-top: 10px solid #DB5653;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #DB5653;
}

h1 {
  text-align: center;
  color: #3DC1C8;
}

h1, h2 {
  font-weight: 800;
}

form {
  border-radius: 4px;
  padding: 0;
}

p {
  line-height: 1.5;
}

h1 .emoji {
  display: block;
}

h1 .emoji:first-of-type {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  padding: 4px 0;
  margin-bottom: 20px;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: table;
  padding: 0 !important;
}

nav li {
  padding: 0 5px;
  margin-bottom: 4px;
}

nav a {
  transition: background-color .1s ease-in;
  display: block;
  background-color: #DB5653;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background: #DB5653;
}

.form-item {
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-top: none;
}

.form-item:first-of-type {
  border-top: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
}

.form-item:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin-bottom: .5em;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}


input[type=submit],
.submit {
  transition: background-color .1s ease-in;
  display: block;
  background: #3DC1C8;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin-bottom: 0;
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

input[type=submit]:hover,
.submit:hover {
  background: #35A8AE;
}

.help {
  font-size: .8em;
  font-style: italic;
  display: block;
}

section {
  padding: 20px 0;
}

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-color: #F0A241;
  color: #fff;
}

.report {
  background: #EFEEEE;
  color: #333;
}

.report h2 {
  border-bottom: 4px solid #333;
  padding-bottom: 8px;
}

.donate {
  background: #DB5653;
  color: #fff;
}

.donate h2 {
  border-bottom: 4px solid #fff;
  padding-bottom: 8px;
}

.donate a {
  color: #fff;
}

#donate-form {
  padding: 20px 0;
}

fieldset {
  border: none;
  padding: 0;
}

fieldset ul {
  padding: 0;
  list-style-type: none;
}

fieldset li {
  margin: 0;
}

input[type="radio"] {
  position: absolute !important;
  top: auto;
  left: -9999px !important;
}

.radio {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  transition: background-color .1s ease-in;
  margin-bottom: 10px;
}

.radio:hover {
  background: rgba(255,255,255,.2);
}

.radio input {
  display: inline-block;
  width: 60px;
  background: none;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0;
}

.radio label {
  display: inline-block;
  margin: 0 10px 0 0;
}

input[type="radio"]:checked + label,
input[type="radio"]:focus + label {
  background-color: #fff;
  color: #DB5653;
}

.submit {
  transition: opacity .2s ease-in;
  border-radius: 4px;
}

.is-disabled {
  opacity: 0;
  cursor: default;
}

.stats {
  padding-bottom: 10px;
}

.stat__info {
  display: block;
  text-align: center;
  font-size: .8em;
  color: rgba(255,255,255,.7);
}

.stat {
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #d68522;
  margin-right: 2px;
}

.stat:last-of-type {
  border-bottom: none;
}

.stat__number {
  font-weight: 800;
  font-size: 3em;
}

.stat__label {
  display: block;
}

.about h2 {
  color: #333;
  border-bottom: 4px solid #333;
  padding-bottom: 8px;
}

footer {
  background: #3DC1C8;
  border-top: 5px solid #35A8AE;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #fff;
}

@media (min-width: 600px) {
  nav ul {
    width: auto;
  }

  nav li {
    width: 50%;
    display: table-cell;
  }

  .stats {
    display: table;
    width: 100%;
    padding-bottom: 10px;
  }

  .stat {
    display: table-cell;
    width: 33%;
    text-align: center;
    padding: 20px;
    border-right: 2px solid #d68522;
    border-bottom: none;
    margin-right: 2px;
  }

  .stat:last-of-type {
    border-right: none;
  }

  .stat__info {
    text-align: right;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 3em;
  }

  h1 .emoji,
  h1 .emoji:first-of-type {
    display: inline;
  }

  p {
    font-size: 1.2em;
  }
}
